html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    color: #333333;
}

img {
    max-width: 100vw;
    margin: auto;
    display: block;

    @mixin atMedium {
        max-width: 100%;
    }
}

a {
    color: $mainOrange;
}

* {
    box-sizing: border-box;
}