.col {
    flex: 1;

    &-1 {
        margin-top: 0;
        @mixin atMedium {
            flex: 1;
        }
    }

    &-2 {
        margin-top: 0;
        @mixin atMedium {
            flex: 2;
        }
    }

    &-3 {
        margin-top: 0;
        @mixin atMedium {
            flex: 3;
        }
    }

    &-4 {
        margin-top: 0;
        @mixin atMedium {
            flex: 4;
        }
    }

    &-6 {
        margin-top: 0;
        @mixin atMedium {
            flex: 6;
        }
    }

    &-8 {
        margin-top: 0;
        @mixin atMedium {
            flex: 8;
        }
    }

    &-9 {
        margin-top: 0;
        @mixin atMedium {
            flex: 9;
        }
    }

    &-10 {
        margin-top: 0;
        @mixin atMedium {
            flex: 10;
        }
    }

    &-11 {
        margin-top: 0;
        @mixin atMedium {
            flex: 11;
        }
    }

    &--center {
        display: flex;
        justify-content: center;
    }
}