.generic-content {
    p {
        line-height: 1.65;
        margin: 0 0 1.8em 0;
        letter-spacing: 0.05rem;
        max-width: 75rem;

        a {
            font-weight: 700;
        }

        span {
            display:inline-block;
            margin-top: 0.5em;
        }
    }
}