.logo {
    background-color: $mainBlue;
    padding: 1em 2em;
    transform: translateY(-19%) scale(0.60);
    transition: 800ms;
    cursor: pointer;
    z-index: 7;

    @mixin atMedium {
        position: absolute;
        transform: translateY(-10%) scale(1);
    }

    &--minimized {
        @mixin atMedium {
            transform: translateY(-23%) scale(0.65);
        }
    }
}