.page-section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @mixin atSmall {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }

    &--blue {
        background-color: $mainBlue;
        color: #ffffff;
    }
}