.testimonial-item {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80px, rgba(255,255,255,0.8) 0);
    padding: 1px 1.8rem;
    text-align: center;

    p{
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: $mainBlue;
        margin-bottom: 0;
    }

    &__subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: $mainOrange;
        margin-top: 0.6em;
    }

    &__avatar {
        overflow: hidden;
        border-radius: 50%;
        width: 16rem;
        height: 16rem;
        margin: auto;
    }
}